<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Aplicación test de KSP {% block titulo %}{% endblock %}</title>
  {% block style_css %}{% endblock %}
</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	<nav>
	  <ul id='menu'>
		  <li><a href='/'>Inicio</a></li>
		  <li><a href="{% url 'list-employees' %}">Lista de empleados registrados</a></li>
		  <li><a href="{% url 'create-employee' %}">Registrar empleado</a></li>
    </ul>
	</nav>
	<hr>
  </header>	
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <footer>
	<p>Test para KPS footer</p>
  </footer>
</body>
</html>
